<p id="notice"><%= notice %></p>

<h2><%=@user%> Status</h2>
<%- if @autocrypt.initialized? %>
  <b>Status:</b>
  <pre>
    <%= @autocrypt.status %>
  </pre>
<%- else %>
  <b>Autocrypt is disabled.</b>
<%- end %>
